/*@import "../../node_modules/bulma/bulma.sass";*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700");
.has-text-primary {
  color: #FF841E !important; }

.has-text-dark {
  color: #220A35 !important; }

.has-text-secondary {
  color: #0CBED5 !important; }

.has-text-terceary {
  color: #F04176 !important; }

.pl-5 {
  padding-left: 2rem !important; }

:root {
  --h: 30px; }

.destacar {
  color: #FF841E !important; }

.has-text-dark-2 {
  color: #220A35 !important; }

.centrar {
  margin: 0 auto; }

.pl-2r {
  padding-left: 2rem; }

.has-background-black {
  background-color: #220A35; }

.decorative-line-1 {
  font-size: 0.8rem; }
  .decorative-line-1::after {
    content: " ";
    background-color: #FF841E;
    width: 1px;
    height: var(--h);
    display: block;
    margin-top: 0.5rem;
    position: absolute;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s; }

.decorative-line-2 {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  position: relative;
  font-weight: bold;
  padding-top: 3px;
  margin-right: 4rem; }
  .decorative-line-2::after {
    content: " ";
    background-color: #FF841E;
    width: 1px;
    height: 50px;
    display: block;
    margin-top: 0.5rem;
    position: absolute; }

.decorative-line-3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  position: relative;
  letter-spacing: 0.2em;
  padding-left: 2rem;
  color: #0CBED5; }
  .decorative-line-3::before {
    content: " ";
    background-color: #FF841E;
    width: 2px;
    height: 105px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }

.malla {
  background-image: url("../../../img/maya.png");
  position: absolute;
  top: 0;
  left: -25%;
  background-repeat: no-repeat;
  background-position: top;
  width: 500px;
  height: 500px; }

.has-text-secondary {
  color: #FEDAC6; }

.white-image {
  filter: brightness(1000); }

@keyframes growline {
  from {
    opacity: 0;
    height: 0px; }
  to {
    opacity: 1;
    height: 60px; } }

body {
  font-size: 12px;
  color: #edeeef;
  overflow: hidden; }

section * {
  z-index: 100;
  position: relative; }

.glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: hidden; }

.redes-sociales {
  margin-top: 3rem; }
  .redes-sociales img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px; }

.preload {
  transition: none !important; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 3.6rem;
  font-weight: bold; }

h3 {
  font-size: 1.8rem; }

p {
  margin-bottom: 1.5rem; }

a {
  color: #FF841E;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s; }

a:hover {
  color: #FF841E;
  text-decoration: wavy; }

.title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #220A35;
  line-height: 2.5rem;
  margin: 2.5rem 0; }

.is-size-7 {
  font-size: 1.1rem !important; }

.is-size-4 {
  font-size: 1.4rem !important; }

.has-text-wide {
  letter-spacing: .4rem; }

.row {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    padding: 4px;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4em; }
  .row .col-1-of-2 {
    width: calc((100% - 4em) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * (4em)) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * ((100% - 2 * (4em)) / 3) + 4em)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * (4em)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * (4em)) / 4) + 4em); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * (4em)) / 4) + (4em * 2)); }
  .row .col-flex-1 {
    flex: 1; }
  .row .col-flex-2 {
    flex: 2; }

.mt-8 {
  margin-top: 8rem; }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1150px; } }

#navbar {
  height: 100px;
  position: fixed;
  z-index: 9000;
  width: 100%;
  transition: all 0.5s; }
  #navbar__content {
    position: relative;
    padding: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    z-index: 9000;
    padding-right: 11rem; }
  #navbar__phone-numbers {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    font-size: 1.4rem;
    font-weight: 300; }
    #navbar__phone-numbers a {
      color: white;
      text-decoration: none;
      letter-spacing: 0;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear; }
    #navbar__phone-numbers a:hover {
      color: #FF841E; }
    #navbar__phone-numbers img {
      width: 16px; }
    #navbar__phone-numbers div {
      padding: 0 18px; }
    #navbar__phone-numbers div:nth-of-type(2) {
      border-left: 1px solid white; }
  #navbar__action-btn {
    padding-right: 5rem; }
  #navbar__menu-icon {
    width: 55px;
    height: auto;
    vertical-align: middle;
    padding-left: 1rem; }

.nav {
  top: 4rem;
  right: 1.8rem; }
  .nav__checkbox {
    display: none; }
  .nav__button {
    position: fixed;
    top: 3rem;
    right: 1.8rem;
    z-index: 9000;
    box-shadow: 1rem 1rem 4rem rgba(34, 10, 53, 0.3);
    cursor: pointer; }
    .nav__button--text {
      display: block;
      position: fixed;
      z-index: 9000;
      top: 4.3rem;
      right: 6rem;
      cursor: pointer;
      letter-spacing: 0.2rem;
      font-weight: 400;
      font-size: 1.1rem; }
  .nav__background {
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg) skew(10deg, 10deg);
    background: none;
    position: fixed;
    top: 2.19rem;
    right: 2rem;
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
    -moz-transform: rotate(45deg) skew(10deg, 10deg);
    -ms-transform: rotate(45deg) skew(10deg, 10deg);
    -o-transform: rotate(45deg) skew(10deg, 10deg); }
  .nav__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    padding-top: 150px;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  .nav__list {
    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-auto-rows: 20%; }
  .nav__item {
    margin: 1rem;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; }
    .nav__item__column {
      grid-template-columns: none; }
    .nav__item div {
      position: relative; }
    .nav__item sup {
      visibility: hidden; }
      .nav__item sup.sup__active {
        visibility: visible; }
    .nav__item .submenu {
      margin-top: 1rem;
      display: none;
      font-size: 1rem;
      padding-bottom: 1rem;
      text-align: left;
      height: 0; }
      .nav__item .submenu a {
        font-weight: 300;
        margin-bottom: 1.2rem;
        color: white;
        text-decoration: none;
        display: inline-block; }
      .nav__item .submenu a:hover {
        font-weight: bold;
        z-index: 9999; }
      .nav__item .submenu__active {
        display: block;
        height: auto;
        z-index: 500; }
  .nav__link {
    position: absolute;
    top: 0; }
    .nav__link.active {
      color: white !important;
      text-decoration: underline;
      text-underline-offset: 12px; }
    .nav__link:link, .nav__link:visited {
      display: inline-block;
      font-size: 2rem;
      color: #FEDAC6;
      margin: 1rem 2rem;
      font-weight: 300;
      text-align: left;
      line-height: 1rem; }
    .nav__link:hover, .nav__link:active {
      color: white;
      text-decoration: underline;
      text-underline-offset: 12px; }
    .nav__link:hover .nav__link::before {
      content: "01"; }
  .nav__checkbox:checked ~ .nav__background {
    background-image: radial-gradient(#0CBED5, #FF841E);
    transform: scale(900);
    -webkit-transform: scale(900);
    -moz-transform: scale(900);
    -ms-transform: scale(900);
    -o-transform: scale(900); }
  .nav__checkbox:checked ~ .nav__nav {
    opacity: 1;
    width: 100%; }
  .nav__checkbox:checked ~ .nav__button--text {
    color: white;
    position: relative; }
  .nav__checkbox:checked ~ .nav__button {
    border-color: white; }
  .nav__icon {
    position: relative;
    margin-top: 34px;
    margin-left: 2rem; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 3rem;
      height: 2px;
      background-color: darkgrey;
      display: inline-block; }
    .nav__icon::before, .nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform 0.2s; }
    .nav__icon::after {
      top: 0.8rem; }
    .nav__icon::before {
      top: -0.8rem; }
  .nav__button:hover .nav__icon::before {
    top: -1rem; }
  .nav__button:hover .nav__icon::after {
    top: 1rem; }
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.logo {
  position: absolute;
  min-width: 220px;
  top: 30px;
  left: 150px;
  width: 220px; }

#footer {
  /*background-color: $dark-background;*/
  padding: 5rem 0;
  position: relative;
  z-index: 100; }
  #footer a {
    color: #FF841E;
    text-decoration: none; }
  #footer a.nav-link {
    color: #b6b6b6;
    line-height: 2.8em;
    font-size: 0.9em;
    font-weight: 300; }
  #footer .columns {
    justify-content: space-around; }
  #footer .column {
    display: flex;
    flex-direction: column; }
  #footer__logo-column {
    justify-content: space-between; }
    #footer__logo-column a {
      text-transform: lowercase;
      padding-bottom: 1.1em;
      margin-top: 1.5em;
      margin-bottom: 1em;
      display: block; }
    #footer__logo-column img {
      max-width: 80%; }
  #footer h4 {
    font-weight: 400;
    font-size: 1.1em;
    padding-bottom: 1.1em; }

.video-container {
  background: url("../../../img/blue-deg.png") bottom; }
  .video-container #v0 {
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: 0; }

.card-black {
  /*background-color: rgba(0,0,0,0.6);*/
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.gradient-decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25px;
  left: 20px;
  background-color: white;
  z-index: 1;
  background-image: -moz-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%);
  background-image: -webkit-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%);
  background-image: -ms-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%); }

.gradient-decoration-story {
  top: 115px;
  left: -1px;
  height: 360px;
  width: 71%; }

.gradient-decoration-map {
  width: 100%;
  height: 77%;
  top: 138px;
  left: 1px; }

.gradient-decoration-blog {
  top: 115px;
  left: -1px;
  height: 360px;
  width: 71%; }

.btn {
  cursor: pointer;
  padding: 14px 24px;
  border-radius: 4px;
  font-size: 1.2rem;
  display: block;
  color: #edeeef; }

.line-btn {
  background: none;
  text-transform: uppercase;
  border: 2px #FF841E solid;
  width: fit-content;
  letter-spacing: 0.2rem;
  color: #FF841E;
  transition: all 0.5s; }
  .line-btn--white {
    border: 2px white solid;
    color: white; }
  .line-btn:hover {
    color: white;
    background-color: #FF841E; }

.solid-btn {
  background: #0CBED5;
  text-transform: uppercase;
  border: 0;
  width: fit-content;
  letter-spacing: 0.2rem;
  transition: all 0.8s ease-in;
  -webkit-transition: background 0.4s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

.solid-btn:hover {
  background-image: linear-gradient(to left, rgba(240, 65, 118, 0.95), rgba(240, 65, 118, 0));
  color: white; }

.text-btn {
  border: 0;
  display: block;
  background: none;
  color: #0CBED5;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  transition: color 0.3s; }
  .text-btn:hover {
    color: #ffca9e !important; }

.dash-btn {
  text-decoration: none;
  text-transform: uppercase;
  width: 245px;
  text-align: center;
  padding: 2.2rem;
  border-radius: 5px;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.3rem; }

.outline {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 100%;
  left: 2px;
  border-radius: 5px;
  stroke-dashoffset: 0; }

.outline__line {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  fill: none;
  stroke-width: 2;
  transition: all 1s ease-in-out; }

.outline__line:nth-child(2) {
  transform: rotate(180deg);
  transform-origin: center center; }

.outline__line.orange {
  stroke: #eb6022; }

.dash-btn:hover .outline__line {
  animation: line-animation 0.8s ease-in-out forwards; }

.dash-btn:hover {
  color: white; }

@keyframes line-animation {
  0% {
    /*stroke-dashoffset: -99.9109;*/
    stroke-dashoffset: 0; }
  100% {
    /*stroke-dashoffset: -356.9109;*/
    stroke-dashoffset: -298; } }

/*LINK CON EFECTO LINEA MOVIENDOSE*/
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap; }

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none; }

.link::before {
  content: "";
  /* show by default */ }

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s; }

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1); }

.service {
  width: 100%;
  display: flex; }
  .service__title {
    display: flex;
    flex: 1;
    min-height: 250px; }
    .service__title h3 {
      padding-left: 2rem; }
  .service__desc {
    display: flex;
    padding-left: 3rem;
    flex: 1; }
    .service__desc img {
      height: 50px;
      padding: 0 2rem; }

.glider {
  margin-top: 2rem; }
  .glider__slide {
    display: flex; }
  .glider__desc {
    padding-right: 4rem;
    width: 50%; }
    .glider__desc h3 {
      color: #0CBED5;
      margin-bottom: 4rem;
      font-size: 2.5rem; }
    .glider__desc p {
      margin-bottom: 5rem;
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 40rem;
      line-height: 2.4rem; }
  .glider__robot {
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    /* padding-left: 1rem;*/ }
    .glider__robot__img {
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-left: 2rem; }

.controler,
.pagination {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem; }

.glider__wrapper {
  width: 50%; }

.dots-button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer; }

/* Overwrite Glider */
.glider-dot.active {
  background: #0CBED5; }

.glider-dots {
  justify-content: flex-end;
  margin: 0; }

.glider-dot {
  width: 8px;
  height: 8px; }

.robot-info--wrapper {
  position: relative; }

.robot-info {
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.robot-info.active {
  display: block; }

.carousel-status {
  font-size: 1.3rem; }

#prev-slide, #next-slide {
  padding: 0;
  margin-top: 2rem; }

.label {
  color: #edeeef;
  font-weight: 300;
  font-size: 1.6rem; }

input {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #7E579D;
  min-width: 350px; }

.field {
  margin-bottom: 2.3rem !important; }

.field:last-of-type {
  margin-bottom: 8rem !important; }

#hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5rem;
  z-index: 100;
  position: relative;
  padding-left: 5rem; }
  #hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 10rem; }
  #hero-section p {
    max-width: 450px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem; }

#welcome-section {
  display: flex;
  padding-bottom: 5rem;
  padding-top: 5rem;
  align-items: center;
  z-index: 100;
  position: relative; }
  #welcome-section__video-container {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin-top: -5rem;
    position: relative;
    z-index: 2; }
    #welcome-section__video-container video {
      width: 100%; }
  #welcome-section__video::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%);
    background-image: -webkit-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%);
    background-image: -ms-linear-gradient(120deg, #f04176 0%, #f9994a 52%, #0cbed5 100%);
    position: absolute;
    left: -5px;
    top: -3px; }
  #welcome-section .card-black {
    width: 400px;
    margin-left: 5rem;
    margin-top: 3rem; }
    #welcome-section .card-black p,
    #welcome-section .card-black h2 {
      margin-bottom: 3rem; }
    #welcome-section .card-black h2 {
      font-size: 36px;
      font-weight: bold; }

#services-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 300;
  position: relative;
  padding: 5rem;
  padding-bottom: 15rem;
  background-color: #220A35; }
  #services-section h2 {
    margin-bottom: 15rem; }
  #services-section h3 {
    padding-bottom: 4rem;
    font-size: 2.8rem;
    font-weight: bold; }
  #services-section .service__icon {
    width: 35px;
    max-height: 35px;
    margin: 0 2rem; }
  #services-section .service__desc p {
    font-size: 1.4rem;
    line-height: 2.4rem; }

#areas-section {
  z-index: 100;
  position: relative;
  padding: 5rem;
  background-image: url("../../../img/maya2.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #220A35; }
  #areas-section .columns {
    margin: 10rem auto; }
  #areas-section .area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #areas-section .area__img {
      max-width: 24rem; }
    #areas-section .area__name {
      font-size: 2.4rem;
      color: #FF841E;
      padding-bottom: 4rem;
      font-weight: bold; }
    #areas-section .area__desc {
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 30rem;
      text-align: center; }
    #areas-section .area__btn {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
      letter-spacing: .5rem; }

#robotica-section {
  padding-top: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 35rem;
  position: relative;
  z-index: 100;
  background-color: #220A35; }
  #robotica-section h2 {
    margin-bottom: 15rem;
    font-size: 3.6rem; }

#stories-section {
  color: black;
  background-color: #FEDAC6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  z-index: 100; }
  #stories-section #feature-story {
    display: flex; }
    #stories-section #feature-story__img {
      margin-top: -13rem;
      color: white; }
    #stories-section #feature-story__img-container {
      position: relative; }
    #stories-section #feature-story .gradient-decoration-2 {
      width: 298px;
      height: 365px;
      top: 113px;
      left: -6px; }
    #stories-section #feature-story__desc {
      max-width: 40rem;
      padding-top: 6rem;
      padding-left: 3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #stories-section #feature-story__desc h3 {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.2rem;
        padding-bottom: 6rem; }
      #stories-section #feature-story__desc p {
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding-bottom: 2rem; }
      #stories-section #feature-story__desc a {
        font-size: 1.3rem;
        letter-spacing: 0.3em;
        font-weight: 600; }
  #stories-section #stories {
    margin: 14rem 0;
    position: relative; }
    #stories-section #stories .title {
      max-width: 30rem; }
  #stories-section .story {
    padding: 3rem; }
    #stories-section .story a {
      font-size: 1.3rem;
      letter-spacing: 0.3em;
      font-weight: 600;
      padding-top: 5rem;
      display: block; }

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16rem;
  padding-top: 21rem;
  position: relative;
  z-index: 100;
  background-color: #220A35;
  background-image: url("../../../img/maya.png");
  background-repeat: no-repeat;
  background-position-y: 55%;
  background-position-x: -11%; }
  #contact-section .contact {
    width: 100%; }
    #contact-section .contact h2 {
      margin-bottom: 8rem; }
  #contact-section .contact__centro {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #7E579D;
    cursor: pointer; }
    #contact-section .contact__centro:last-of-type {
      border-bottom: 1px solid #7E579D; }
    #contact-section .contact__centro .plus-sign {
      margin-top: 15px; }
    #contact-section .contact__centro__titulo {
      display: flex;
      padding-top: 0.8rem;
      justify-content: space-between; }
      #contact-section .contact__centro__titulo h3 {
        font-size: 1.6rem;
        padding: 1.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.3rem; }
    #contact-section .contact__centro__direccion {
      max-width: 95%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;
      -webkit-transition: max-height 1s ease;
      -moz-transition: max-height 1s ease;
      -ms-transition: max-height 1s ease;
      -o-transition: max-height 1s ease; }
    #contact-section .contact__centro.active .contact__centro__direccion {
      max-height: 350px;
      padding-bottom: 2rem; }
    #contact-section .contact__centro .contact__centro__direccion p {
      padding-bottom: 1rem !important; }
    #contact-section .contact__centro.active h3 {
      color: #FF841E !important;
      font-weight: bold;
      padding-bottom: 3rem; }
    #contact-section .contact__centro svg path {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
    #contact-section .contact__centro.active svg path {
      d: path("M485,236H13a20,20,0,0,0,0,40H485a20,20,0,0,0,0-40Z"); }
    #contact-section .contact__centro.active .cls-1 {
      fill: grey; }
  #contact-section .contact__info,
  #contact-section .contact__text {
    padding: 0 7rem; }
    #contact-section .contact__info p,
    #contact-section .contact__text p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      padding: 0 7rem 4rem 0; }
  #contact-section #form-subsection {
    margin-top: 21rem; }
  #contact-section #contact__map__name {
    padding-bottom: 4rem; }
  #contact-section #contact__map__img {
    max-width: inherit; }

/* COLABORADORES SECTION */
#section-colaboradores {
  z-index: 100;
  position: relative;
  background-color: #FEDAC6;
  color: #220A35;
  padding: 11rem 1rem; }
  #section-colaboradores__imgs {
    padding-top: 13rem; }

/* BLOG FEATURES POST SECTION */
#blog-feature-section {
  z-index: 100;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 1rem;
  padding-bottom: 12rem;
  background-color: #220A35; }
  #blog-feature-section #feature-post {
    display: flex;
    justify-content: center;
    margin: 0; }
    #blog-feature-section #feature-post__img {
      width: 50%;
      color: white; }
    #blog-feature-section #feature-post__desc {
      width: 50%;
      padding-top: 5rem;
      font-size: 0.8rem; }

/* BLOG POST SECTION */
#blog-posts-section {
  z-index: 100;
  position: relative;
  background-color: #FEDAC6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8rem; }

#posts-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem; }
  #posts-wrapper img {
    margin-top: -6rem; }

[data-scroll] {
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s; }

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px); }
