//This file you will create your rule of typographys inside of the project

html {
  font-size: 62.5%;
}
body {
  font-family: $font-family;
  font-size: 1.4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

a {
  color: $primary-color;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: $primary-color;
  text-decoration: wavy;
}

.title {
  font-size: 1.8rem;
  font-weight: 800;
  color: $dark-background;
  line-height: 2.5rem;
  margin: 2.5rem 0;
}

//overwrite bulma
.is-size-7 {
  font-size: 1.1rem !important;
}

.is-size-4 {
  font-size: 1.4rem !important;
  line-height: 2.4rem;
}

.has-text-wide {
  letter-spacing: .4rem;
}