@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700");

//Colors
$dark-background: #220A35;
$light-background: #FEDAC6;
$primary-color: #FF841E;
$secondary-color: #0CBED5;
$third-color: #F04176;
$light-purple: #7E579D;
$dark-primary: #eb6022;

$light-primary: #FEDAC6;
$text-dark: #000;
$text-white: #edeeef;
$text-dim: #b6b6b6;
$text-dim-brown: #5B4E47;

//Grid
$gutter-vertical: 1rem;
$gutter-horizontal: 4em;

//FONTs
$default-font-size: 12px;
$small-text: 0.8rem;
$font-family: "Poppins", sans-serif;

//Bulma Overwrite
$primary: $primary-color !important;

.has-text-primary {
    color: $primary-color !important;
}

.has-text-dark {
    color: $dark-background !important;
}

.has-text-secondary {
    color: $secondary-color !important;
}
.has-text-terceary {
    color: $third-color !important;
}
.pl-5 {
    padding-left: 2rem !important;
}
