//HERO SECTION
#hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5rem;
  z-index: 100;
  position: relative;
  padding-left: 5rem;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 10rem;
  }

  p {
    max-width: 450px;
    font-weight: 300;
  }
}
//WELCOME SECTION
#welcome-section {
  display: flex;
  padding-bottom: 20rem;
  padding-top: 8rem;
  align-items: center;
  z-index: 100;
  position: relative;

  &__video-container {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin-top: -5rem;
    position: relative;
    z-index: 2;

    & video {
      width: 100%;
    }
  }

  &__video::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(
      120deg,
      rgb(240, 65, 118) 0%,
      rgb(249, 153, 74) 52%,
      rgb(12, 190, 213) 100%
    );
    background-image: -webkit-linear-gradient(
      120deg,
      rgb(240, 65, 118) 0%,
      rgb(249, 153, 74) 52%,
      rgb(12, 190, 213) 100%
    );
    background-image: -ms-linear-gradient(
      120deg,
      rgb(240, 65, 118) 0%,
      rgb(249, 153, 74) 52%,
      rgb(12, 190, 213) 100%
    );
    position: absolute;
    left: -5px;
    top: -3px;
  }
  & .card-black {
    width: 400px;
    margin-left: 5rem;
    margin-top: 3rem;

    & p,
    h2 {
      margin-bottom: 3rem;
    }

    h2 {
      font-size: 3.6rem;
      font-weight: bold;
    }
  }

  //SERVICES SECTION
}
#services-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 300;
  position: relative;
  padding: 5rem;
  padding-bottom: 15rem;

  background-color: $dark-background;

  h2 {
    margin-bottom: 15rem;
  }

  h3 {
    padding-bottom: 4rem;
    font-size: 2.8rem;
    font-weight: bold;
  }

  .service__icon {
    width: 35px;
    max-height: 35px;
    margin: 0 2rem;
  }


}
// AREAS SECTION
#areas-section {
  z-index: 100;
  position: relative;
  padding: 5rem;
  background-image: url("../../../img/maya2.png");
  background-repeat: no-repeat;
  background-position: top left;

  background-color: $dark-background;

  .columns {
    margin: 10rem auto;
  }

  .area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      max-width: 24rem;
    }

    &__name {
      font-size: 2.4rem;
      color: $primary-color;
      padding-bottom: 4rem;
      font-weight: bold;
    }
    &__desc {
      font-weight: 300;
      max-width: 30rem;
      text-align: center;
    }
    &__btn {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
      letter-spacing: 0.5rem;
    }
  }
}

//ROBOTICA SECTION
#robotica-section {
  padding-top: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 35rem;
  position: relative;
  z-index: 100;
  background-color: $dark-background;

  h2 {
    margin-bottom: 15rem;
    font-size: 3.6rem;
  }
}

//STORIES SECTION
#stories-section {
  color: black;
  background-color: $light-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  z-index: 100;

  #feature-story {
    display: flex;

    &__img {
      margin-top: -13rem;
      color: white;
    }
    &__img-container {
      position: relative;
    }

    .gradient-decoration-2 {
      width: 298px;
      height: 365px;
      top: 113px;
      left: -6px;
    }

    &__desc {
      max-width: 40rem;
      padding-top: 6rem;
      padding-left: 3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.2rem;
        padding-bottom: 6rem;
      }
      p {
        padding-bottom: 2rem;
      }
      a {
        font-size: 1.3rem;
        letter-spacing: 0.3em;
        font-weight: 600;
      }
    }
  }

  #stories {
    margin: 14rem 0;
    position: relative;

    .title {
      max-width: 30rem;
    }
  }

  .story {
    padding: 3rem;

    a {
      font-size: 1.3rem;
      letter-spacing: 0.3em;
      font-weight: 600;
      padding-top: 5rem;
      display: block;
    }
  }
}

//CONTACT SECTION

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16rem;
  padding-top: 21rem;
  position: relative;
  z-index: 100;
  background-color: $dark-background;
  background-image: url("../../../img/maya.png");
  background-repeat: no-repeat;
  background-position-y: 55%;
  background-position-x: -11%;

  .contact {
    width: 100%;
    h2 {
      margin-bottom: 8rem;
    }
  }

  .contact__centro {
    display: flex;
    flex-direction: column;

    &:last-of-type {
      border-bottom: 1px solid $light-purple;
    }

    .plus-sign {
      margin-top: 15px;
    }

    border-top: 1px solid $light-purple;
    cursor: pointer;

    &__titulo {
      display: flex;
      padding-top: 0.8rem;
      justify-content: space-between;
      h3 {
        font-size: 1.6rem;
        padding: 1.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
      }
    }

    &__direccion {
      max-width: 95%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;
      -webkit-transition: max-height 1s ease;
      -moz-transition: max-height 1s ease;
      -ms-transition: max-height 1s ease;
      -o-transition: max-height 1s ease;
    }

    &.active .contact__centro__direccion {
      max-height: 350px;
      padding-bottom: 2rem;
    }
    .contact__centro__direccion p {
      padding-bottom: 1rem !important;
    }

    &.active h3 {
      color: $primary-color !important;
      font-weight: bold;
      padding-bottom: 3rem;
    }

    svg path {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }

    &.active svg path {
      d: path("M485,236H13a20,20,0,0,0,0,40H485a20,20,0,0,0,0-40Z");
    }

    &.active .cls-1 {
      fill: grey;
    }
  }
  .contact__info,
  .contact__text {
    padding: 0 7rem;

    p {
      padding: 0 7rem 4rem 0;
    }
  }

  #form-subsection {
    margin-top: 21rem;
  }

  #contact__map {
    &__name {
      padding-bottom: 4rem;
    }

    &__img {
      max-width: inherit;
    }
  }
}
/* COLABORADORES SECTION */

#section-colaboradores {
  z-index: 100;
  position: relative;
  background-color: $light-background;
  color: $dark-background;
  padding: 11rem 14rem;

  &__imgs {
    padding-top: 13rem;
  }
}

/* BLOG FEATURES POST SECTION */
#blog-feature-section {
  z-index: 100;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem;
  padding-bottom: 12rem;
  background-color: $dark-background;

  #feature-post {
    display: flex;
    justify-content: center;
    margin: 0;

    &__img {
      color: white;
      padding-right: 4rem;
    }
    &__desc {
      max-width: 40rem;
      padding-top: 5rem;
      padding-bottom: 20rem;
      font-size: 0.8rem;

      h3 {
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 4rem;
        padding-bottom: 4rem;
      }
      p {
        margin-bottom: 4rem;
      }
    }
  }
}
/* BLOG POST SECTION */
#blog-posts-section {
  z-index: 100;
  position: relative;
  background-color: $light-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 11rem;
}
#posts-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  img {
    margin-top: -18rem;
  }
}

.post {
  :not(:last-child) {
    margin-right: 5rem;
  }
  p {
    padding-top: 3rem;
  }
  margin-bottom: 11rem;
}

#blog-btn {
  padding: 12rem auto;
}

//MOVE TO VENDORS sass
[data-scroll] {
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
}
